organization_id          = "your_organization_id"
billing_account_id       = "your_billing_account_id"
root_organization_admins = [ "your_yandex_id_1", "your_yandex_id_2", ... ]
workload_cloud_admins     = [ "your_yandex_id_3", "your_yandex_id_4", ...  ]
